# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**

- List popular languages for Data Science
- List commonly used libraries in Data Science
- Create tables in Jupyter Notebook using Markdown
- Perform basic arithmetic operations in Python

#### Some of the popular languaes that Data Scientistsuse are.

1. Python
2. R
3. SQL
4. Julia

#### Some of the commonly used libraries used by Data Scientists include
1.  Pandas
2.  Numpy
3.  matplotlib
4.  ggplot
5.  TensorFlow
6.  Scikit-learn

| Data Science Tools |
| --------------------|
| Jupyter Notebook |
| Spyder |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

## Author

Magaly Yefrith Medina Vilca